.App {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  color: white;
}
h1 {
  color: white;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.food-items {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  list-style: none;
  background-color: rgb(61, 235, 171);
}
header {
  background-color: rgb(61, 235, 171);
  padding: 1rem;
  margin: 1rem 0;
}
.food-type {
  background-color: rgba(15, 11, 245, 0.671);
}
.item-description {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
button {
  border: none;
  margin: 1rem 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 0.3rem;
  width: 200px;
  cursor: pointer;
  background-color: rgb(48, 214, 153);
}
