.App {
  text-align: center;
  font-family: sans-serif;
}
.main-section {
  max-width: 500px;
  margin: auto;
}
:root {
  --primary-color: rgb(34, 243, 227);
}
* {
  padding: 0;
  margin: 0;
}
.nav {
  background-color: black;
  height: 30vh;
}
.nav-text {
  color: var(--primary-color);
}
.heading {
  padding: 1rem 0;
  color: var(--primary-color);
}
.btn-section {
  padding: 2rem 0;
}
.btn {
  padding: 0.5rem 0.3rem;
  margin: 0.2rem 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
.food-section {
  border: 1px solid black;
  margin: 1rem 0;
  list-style: none;
  padding: 1rem 0;
  border-radius: 10px;
  color: var(--primary-color);
  background-color: black;
}
.food-name,
.food-rating {
  padding: 0.5rem 0;
}
.food-desc {
  text-align: left;
  padding: 0.5rem 1rem;
}
